#
# Standard configuration
#
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[merge]
    summary = true

[diff]
    colorMoved = true

[fetch]
    prune = true

[core]
    excludesfile = ~/.gitignore
    quotepath = false

[pull]
    rebase = false

[init]
    defaultBranch = main

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
